<!--!popuphead-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>{title}</title>
<link href="templates/cupertino.css" rel="stylesheet" type="text/css">
{headscript} {script}
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="bartop">
 <td colspan='3' align="center">{title}</td>
  </tr>
  <tr class="barbottom">
 <td colspan='3'><img src="images/trans.gif" width="1" height="5"></td>
  </tr>
  <tr>
 <td width='30' bgcolor='#ECECEC'>&nbsp;</td>
 <td valign="top">
<!--!popupfoot-->
 </td>
 <td width='30' bgcolor='#ECECEC'>&nbsp;</td>
  </tr>
  <tr>
 <td width='30' bgcolor='#ECECEC'>&nbsp;</td>
 <td valign="top" bgcolor="#ECECEC">{copyright}</td>
 <td width='30' bgcolor='#ECECEC'>&nbsp;</td>
  </tr>
</table>
</body>
</html>
<!--!header--><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>{title}</title>
<link href="templates/cupertino.css" rel="stylesheet" type="text/css">
{headscript} {script}
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="headrow">
 <td>&nbsp;</td>
 <td colspan="3">
 <div align="center">{headerad}</div>
 <table border="0" cellpadding="5" cellspacing="0" class="tab" height="32">
   <tr align="center">
  <td width="88" valign="bottom"><b>{motd}</b>&nbsp;</td>
  <td width="88" valign="bottom"><b>{mail}</b>&nbsp;</td>
  <td width="88" valign="bottom"><b>{petition}</b>&nbsp;</td>
  <td width="88" valign="bottom"><b>&nbsp;</b></td>
  <td width="88" valign="bottom"><b>&nbsp;</b></td>
  <td width="88" valign="bottom"><b>&nbsp;</b></td>
  <td width="88" valign="bottom"><b>{source}</b></td>
   </tr>
 </table>
 </td>
 <td>&nbsp;</td>
  </tr>
  <tr class="bartop">
 <td>&nbsp;</td>
 <td colspan="3" align="center">{title}</td>
 <td>&nbsp;</td>
  </tr>
  <tr class="barbottom">
 <td colspan="5"><img src="images/trans.gif" width="1" height="5"></td>
  </tr>
  <tr>
 <td valign='top' align='center'><div style="">{verticalad}</div>&nbsp;</td>
 <td width="135px" valign="top" bgcolor="#ECECEC"><img src='templates/cupertino/trans.gif' width='135px' height='1' alt='' align='left'><br><div align='center'>{navad}</div>{nav}</td>
 <td width="100%" valign="top"><table width="100%" border="0" cellpadding="7" cellspacing="0"><tr><td width="100%">{bodyad}<table align='right' border='0'></table>
<!--!footer-->
    {petitiondisplay}
  </td></tr></table></td>
 <td width="135" valign="top" bgcolor="#ECECEC">{stats}<br>
  <span class="navhead">Other</span>
  <br>
<table width="135" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>{paypal}</td>
  </tr>
</table>
 </td>
 <td>&nbsp;</td>
  </tr>
  <tr>
 <td>&nbsp;</td>
 <td colspan="2" valign="top" bgcolor="#ECECEC">{copyright} {pagegen}</td>
 <td colspan="1" valign="top" bgcolor="#ECECEC">{version} </td>
 <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
<!--!statstart-->
<!--!stathead--><span class="navhead">{title}</span>
<!--!statrow--><b>{title}</b>: {value}<br>
<!--!statbuff--><span class="navhead">{title}</span> {value}
<!--!statend-->
<!--!navhead--><span class="navhead">—{title}—<br></span>
<!--!navhelp--><span class="navhelp">{text}<br></span>
<!--!navitem--><a href="{link}" {accesskey} class='nav' {popup}>{text}<br></a>
<!--!petitioncount--><table border='0' cellpadding='5' cellspacing='0' align='right'><tr><td>{petitioncount}</td></tr></table>
<!--!adwrapper-->
<table cellpadding=3 cellspacing=0>
 <tr><td>{content}</td></tr>
</table>
<!--!login-->
<table border='0' cellpadding='0' cellspacing='0' background='templates/cupertino/steel.GIF'>
 <tr>
  <td><img src="templates/cupertino/boxul.gif" width="12" height="12" alt=""></td>
  <td class="boxtop"><img src="images/trans.gif" width="1" height="1" alt=""></td>
  <td><img src="templates/cupertino/boxur.gif" width="12" height="12" alt=""></td>
 </tr><tr>
  <td class="boxleft"><img src="images/trans.gif" width="1" height="1" alt=""></td>
  <td valign='bottom' align='center' class='noborder' width="100%">
  <img src='images/logindragon.gif' class='noborder'><br>
   {username}: <br><input name='name' id="name" accesskey='u' size='10'><br>
   {password}: <br><input name='password' id="password" accesskey='p' type='password' size='10'><br>
   <input type='submit' value='{button}' class='button'><br>
   <img src='images/trans.gif' width='1' height='37' align='absmiddle' alt=''>
   <img src='images/trans.gif' width='1' height='15'>
  </td>
  <td class="boxright"><img src="images/trans.gif" width="1" height="1" alt=""></td>
 </tr><tr>
 <tr>
  <td><img src="templates/cupertino/boxll.gif" width="12" height="12" alt=""></td>
  <td class="boxlower"><img src="images/trans.gif" width="1" height="1" alt=""></td>
  <td><img src="templates/cupertino/boxlr.gif" width="12" height="12" alt=""></td>
 </tr>
</table>
<!--!loginfull-->
<table border='0' cellpadding='0' cellspacing='0' background='templates/cupertino/steel.GIF'>
 <tr>
  <td><img src="templates/cupertino/boxul.gif" width="12" height="12" alt=""></td>
  <td class="boxtop"><img src="images/trans.gif" width="1" height="1" alt=""></td>
  <td><img src="templates/cupertino/boxur.gif" width="12" height="12" alt=""></td>
 </tr><tr>
  <td class="boxleft"><img src="images/trans.gif" width="1" height="1" alt=""></td>
  <td valign='bottom' align='center' class='noborder' width="100%">
    <br><b><font color="#ff0000">Server<br><br>full!</font></b><br><br><br>
   <img src='images/trans.gif' width='1' height='37' align='absmiddle' alt=''>
  </td>
  <td class="boxright"><img src="images/trans.gif" width="1" height="1" alt=""></td>
 </tr><tr>
  <td><img src="templates/cupertino/boxll.gif" width="12" height="12" alt=""></td>
  <td class="boxlower"><img src="images/trans.gif" width="1" height="1" alt=""></td>
  <td><img src="templates/cupertino/boxlr.gif" width="12" height="12" alt=""></td>
 </tr>
</table>
