/* CSS Document */
caption {
	white-space: nowrap;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

table.nav {
	background-color: #55FF55;
	border: 1px solid #000000;
	height: auto;
	width: 182px;
}

.navhead {
	text-decoration: none;
	width: 180px;
	height: auto;
	padding: 1px;
	line-height: 18px;
	float: left;
	clear: none;
	background-color: #000033;
	font-weight: bold;
	color: #33CCFF;
	cursor: default;
	text-align: center;
	font-variant: small-caps;
}

a {
	color: #33CCFF;
	text-decoration: none;
}

a.nav {
	color: #CCFFFF;
	text-decoration: none;
	width: 181px;
	height: auto;
	padding: 1px;
	float: left;
	clear: none;
	background-color: #003737;
	border: 1px solid #003737;
	text-align: left;
}

.navhelp {
	text-decoration: none;
	width: 181px;
	height: auto;
	padding: 1px;
	float: left;
	clear: none;
	background-color: #01015D;
	border: 1px solid #01015D;
}

a:hover.nav {
	background-color: #000033;
	border-top: 1px solid #000033;
	border-left: 1px solid #000033;
	border-bottom: 1px solid #000033;
	border-right: 1px solid #000033;
	color: #CCFFFF;
}
a.navhilite {
	text-decoration: none;
	width: 150px;
	height: auto;
	padding: 1px;
	float: right;
	clear: none;
	color:#0000FF;
	background-color: #000033;
	border-top: thin solid #000033;
	border-bottom: thin solid #000033;
	border-right: thin none #000033;
	border-left: thin none #000033;
}
a:hover.navhilite {
	background-color: #006699;
	border-top: thin outset #006699;
	border-right: thin none #006699;
	border-bottom: thin outset #006699;
	border-left: thin none #006699;
}


table {
}
td.charinfo {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #003737;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: default;

}
td.charhead {
	background-color: #000033;
	border: none;
	cursor: default;
}
table.charinfo {
	border: none;
	width: 182px;
	color: #33CCFF;
}
td.popupheader {
	background-color: #333399;
	background-image: url(../images/headbkg.GIF);
	height: 20px;
}
td.noborder {
	border: none;
}
table.noborder {
	border: none;
}
input {
	background-color: #000033;
	border: 1px solid #000033;
	color: #33CCFF;
}
.button {
font-family: verdana,arial,helvetica,sans-serif;  
	 font-size: 12px;  
	 color: #33CCFF;  
	 background-color: #000033;  
	 border-top: 1px solid #000066;  
	 border-left: 1px solid #000066;  
	 border-right: 1px solid #000000;  
	 border-bottom: 1px solid #000000;
}
.input {
	background-color: #000033;
	border: 1px solid #000033;
	color: #33CCFF;
}
select {
	background-color: #000033;
	border: 1px solid #000033;
	color: #33CCFF;
}
table.vitalinfo {
	background-color: #000033;
	border: 1px solid #000000;
	width: 182px;
}
a.motd {
	text-decoration: none;
	color:#0099CC;
}
a:hover.motd {
	font-weight: normal;
	color:#FFFFFF;
}

a.hotmotd {
	font-weight: normal;
	color:#00FF00;
}

.pagetitle {
	font-family: "Arial Black", "Courier";
	font-variant: small-caps;
	font-size: 20px;
	color: #CCFFFF;
}
.navhi {
	color: #33BBCC;
	text-decoration: underline;
}

td.nav a.thot {
	position: absolute;
	left: 0px;
	height: auto;
}
td.nav a.t {
	position: absolute;
	left: 0px;
	height: auto;
}

a.t {
	width: 7px;
	height: 7px;
	border: 1px dotted #0000FF;
	background-color: #9999FF;
	color: #FFFFFF;
	font-size: 7px;
	text-decoration: none;
	padding-left: 1px;
	padding-right: 1px;
}

a.thot {
	width: 7px;
	height: 7px;
	border: 1px dotted #0000FF;
	background-color: #9999FF;
	color: #FFFFFF;
	font-size: 7px;
	text-decoration: none;
	padding-left: 1px;
	padding-right: 1px;
}

div.debug {
	background-color: #FFFFFF;
	color: #000000;
	border: 1px dotted #000000;
	width: auto;
	height: auto;
	font-size: 10px;
}
.colDkBlue	{ color: #0000FF; }
.colDkGreen   	{ color: #00B000; }
.colDkCyan	{ color: #00B0B0; }
.colDkRed	{ color: #BB0000; }
.colDkMagenta 	{ color: #B000CC; }
.colDkYellow  	{ color: #B0B000; }
.colDkWhite   	{ color: #B0B0B0; }
.colLtBlue	{ color: #6262FF; }
.colLtGreen   	{ color: #00FF00; }
.colLtCyan	{ color: #00FFFF; }
.colLtRed	{ color: #FF2222; }
.colLtMagenta 	{ color: #FF00FF; }
.colLtYellow  	{ color: #FFFF00; }
.colLtWhite   	{ color: #FFFFFF; }
.colLtBlack   	{ color: #777777; }
.colDkOrange  	{ color: #995500; }
.colLtOrange  	{ color: #FF9900; }
.colBlue	{ color: #0070FF; }
.colLime  	{ color: #DDFFBB; }
.colBlack  	{ color: #000000; }
.colRose 	{ color: #EEBBEE; }
.colblueviolet 	{ color: #9A5BEE; }
.coliceviolet	{ color: #AABBEE; }
.colLtBrown 	{ color: #F8DB83; }
.colDkBrown 	{ color: #6b563f; }
.colXLtGreen	{ color: #aaff99; }
.colAttention 	{ background-color: #00FF00; color: #FF0000; }
.colWhiteBlack 	{ background-color: #FFFFFF; color: #000000; }
.colBack  	{ background-color: #00FFFF; color: #000000; }
.colbeige  { color: #F5F5DC; }
.colkhaki  { color: #F0E68C; }
.coldarkkhaki  { color: #BDB76B; }
.colaquamarine  { color: #7FFFD4; }
.coldarkseagreen  { color: #8FBC8F; }
.collightsalmon  { color: #FFA07A; }
.colsalmon  { color: #FA8072; }
.colwheat  { color: #F5DEB3; }
.coltan  { color: #D2B48C; }.colLtLinkBlue	{ color: #0099FF; }
.colDkLinkBlue 	{ color: #006BB3; }
.colDkRust 	{ color: #8D6060; }
.colLtRust 	{ color: #B07878; }
.colMdBlue 	{ color: #0000F0; }
.colMdGrey 	{ color: #DDDDDD; }
.colburlywood { color: #DEB887; }
.trhead  	{ background-color:#000033; color:#FFFFFF; }
.trlight 	{ background-color:#000040; }
.trdark  	{ background-color:#000030; }
.trhilight 	{ background-color: #333333; }
