<!--!popuphead-->
<!DOCTYPE html>
<html>
    <head>
        <title>{title}</title>
        <meta charset='utf8'>
        <meta name='keywords' content='Legend, Green Dragon, LotGD, LoGD, Legend of the Green Dragon'>
        <meta name='description' content='A text-based RPG inspired by Legend of the Green Dragon!'>
        <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' />
        <meta name='theme-color' content='#11151C'>
        <link href='templates/responsiveBlue.css' rel='stylesheet' type='text/css' />
        <link href='templates/assets/colors.css' rel='stylesheet' type='text/css' />
        <script src='templates/assets/jquery_min.js' /></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script src='templates/assets/app.js'></script>
        <script src='modules/js/app.js'></script>
        {headscript}
        {script}
        {javascript}
    </head>
    <body ng-app='LOTGD'>
        <span class='banner'></span>
        <!--!popupfoot-->
        <div class='copyright'>
            {copyright}
            {source}
        </div>
    </body>
</html>
<!--!header-->
<!DOCTYPE html>
<html>
    <head>
        <title>{title}</title>
        <meta charset='utf8'>
        <meta name='keywords' content='Legend, Green Dragon, LotGD, LoGD, Legend of the Green Dragon'>
        <meta name='description' content='A text-based RPG inspired by Legend of the Green Dragon!'>
        <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' />
        <meta name='theme-color' content='#11151C'>
        <link href='templates/responsiveBlue.css' rel='stylesheet' type='text/css'>
        <link href='templates/assets/colors.css' rel='stylesheet' type='text/css'>
        <script src='templates/assets/jquery_min.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src='templates/assets/app.js'></script>
        <script src='modules/js/app.js'></script>
        {headscript}
        {script}
        {javascript}
    </head>
    <body ng-app='LOTGD'>
        <header>
            <div class='title'>
                <span class='banner'></span>
                {title}
            </div>
            <div class='contact'>
                {ticket}
                {pagegen}
                {mail}
                {petition}
                {motd}
            </div>
        </header>
        <div class='tutorial'>
                <h3>Tutorial: How to Navigate</h2>
            <div class='tutorial-stage-1'>
                <p>Swipe right to show only the navigation.</p>
                <div class='swipe-right'></div>
            </div>
            <div class='tutorial-stage-2'>
                <p>Swipe left to login and access the content!</p>
                <div class='swipe-left'></div>
            </div>
        </div>
        <main class='content'>
            <!--!footer-->
        </main>
        <nav class='navigation'>
            {navad}
            <ul>{nav}</ul>
        </nav>
        <div class='rightPanel'>
            {petitiondisplay}
            {stats}
            {paypal}
        </div>
        <footer>
            <div class='alerts'></div>
            <div class='copyright'>
                {copyright}
                {source}
                {version}
            </div>
        </footer>
    </body>
    <script type='text/javascript'>
        function newMail()
        {
            $('a[name=maillink]').html('Mailbox').removeClass('motd').addClass('unreadmotd');
            $('.alerts').html('You have a new mail!').animate({
                height: '1.25em'
            }, 250);
        }
        function clearMail()
        {
            $('a[name=maillink]').html('Mailbox').removeClass('unreadmotd').addClass('motd');
            $('.alerts').animate({
                height: '0em'
            }, 250).html('');
        }
        function tutorial() {
            var stage = localStorage.getItem('tutorialStage');
            if (stage > 2) {
                return;
            }
            switch (stage) {
                default:
                    $('.tutorial').show(250);
                    $('.tutorial-stage-1').show();
                    localStorage.setItem('tutorialStage', '1');
                    stage = 1;
                    break;
                case "1":
                    $('.tutorial-stage-1').hide();
                    $('.tutorial-stage-2').show(250);
                    localStorage.setItem('tutorialStage', '2');
                    stage = 2;
                    break;
                case "2":
                    $('.tutorial').hide();
                    localStorage.setItem('tutorialStage', '3');
                    break;
            }
        }
        var startX = 0,
            maxDistance = 100,
            touch = "ontouchend" in document,
            startEvent = 'touchstart',
            moveEvent = 'touchmove',
            endEvent = 'touchend';
        $(document).on(startEvent, function(e) {
            startX = e.originalEvent.touches ? e.originalEvent.touches[0].pageX : e.pageX;
        }).on(endEvent, function(e) {
            startX = 0;
        }).on(moveEvent, function(e) {
            var currentX = e.originalEvent.touches ? e.originalEvent.touches[0].pageX : e.pageX,
                currentDistance = (startX === 0) ? 0 : Math.abs(currentX - startX);
            if (currentDistance > maxDistance && currentX > startX){
                $('main').hide();
                $('nav').show();
                $('.rightPanel').show();
                startX = 0;
                currentDistance = 0;
                localStorage.setItem('hideMain', 1);
                tutorial();
            }
            else if (currentDistance > maxDistance && currentX < startX) {
                $('main').show();
                $('nav').hide();
                $('.rightPanel').hide();
                startX = 0;
                currentDistance = 0;
                localStorage.setItem('hideMain', 0);
                tutorial();
            }
        });
        $(document).on('keyup', function(event){
            var isHidden = localStorage['hideTranslate'];
            if (isHidden != 1 && event.keyCode == 27) {
                localStorage.setItem('hideTranslate', 1);
                $('.thot').css('display', 'none');
            }
            if (isHidden == 1 && event.keyCode == 27) {
                localStorage.setItem('hideTranslate', 0);
                $('.thot').css('display', 'inline-block');
                $('.navigation .thot').css('display', 'block');
            }
        });
        $(document).ready(function() {
            if (window.matchMedia("(max-width: 700px)").matches) {
                tutorial();
            }
            $('.alerts').on('touch click', function(){
                $('.alerts').animate({
                    height: '0em'
                }, 250).html('');
            });
            $('.hotmotd').on('click', function() {
                clearMail();
            });
            if ($('[href="mail.php"]').attr('class') == 'hotmotd') {
                newMail();
            }
            if (localStorage['hideMain'] == 1) {
                $('main').hide();
                $('nav').show();
                $('.rightPanel').show();
            }
            if (localStorage['hideTranslate'] == 1) {
                $('.thot').css('display', 'none');
            }
            else {
                $('.thot').css('display', 'inline-block');
                $('.navigation .thot').css('display', 'block');
            }
        });
    </script>
</html>
<!--!statstart-->
<section class='charinfo'>
<!--!stathead-->
<div class='charhead'>{title}</div>
<!--!statrow-->
<div class='charrow'>
    <div class='charstat'>{title}</div>
    <div class='chardata'>{value}</div>
</div>
<!--!statbuff-->
<div class='charbuffhead'>{title}</div>
<div class='charbuffstat'>{value}</div>
<!--!statend-->
</section>
<!--!petitioncount-->
<div class='petitioncount'>{petitioncount}</div>
<!--!navhead-->
<li class='navhead'>{title}</li>
<!--!navhelp-->
<li class='navhelp'>{text}</li>
<!--!navitem-->
<a href='{link}' {accesskey} {popup}><li class='nav'>{text}</li></a>
<!--!adwrapper-->
<table>
    <tr>
        <td>{content}</td>
    </tr>
</table>
<!--!login-->
<!--imageforlogin-->
<input name='name' id='name' accesskey='u' size='10' placeholder='{username}'>
<input name='password' id='password' accesskey='p' type='password'
    size='10' placeholder='{password}'>
<br />
<input type='submit' value='{button}' class='button'>
<!--!loginfull-->
<div class='login-full'>
<!--imageforlogin-->
    Server Full!
</div>
<!--!collapse-->
