<!--!popuphead-->
<!DOCTYPE html>
    <html>
        <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' /><!--320-->
        <head>
            <title>
                {title}
            </title>
            <link href='templates/responsive.css' rel='stylesheet' type='text/css' />
            <link href='templates/assets/colors.css' rel='stylesheet' type='text/css' />
            <script type='text/javascript' src='templates/assets/jquery_min.js' />
            </script>
            {headscript}
            {script}
        </head>
        <body style='height: 100%;color: #CCC;'>
            <table border='0px' cellpadding=5 cellspacing=0 width='100%'>
                <tr>
                    <td colspan=2 class='pageheader'>
                        <table border=0 cellpadding=0 cellspacing=0 width='100%' class='noborder'>
                            <tr>
                                <td width='100%' class='noborder'>
                                    {title}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign='top' width='100%'>
                        <!--!popupfoot-->
                        <div class='copyright'>
                            {copyright}
                            {source}
                        </div>
                    </td>
                </tr>
            </table>
        </body>
    </html>
<!--!header-->
<!DOCTYPE html>
    <html>
        <head>
            <title>
                {title}
            </title>
            <link href='templates/responsive.css' rel='stylesheet' type='text/css' />
            <link href='templates/assets/colors.css' rel='stylesheet' type='text/css' />
            <meta charset='utf8' />
            <meta name='description' content='Xythen is a Roleplaying Door Game, filled with time travel, mechanical beings, and aether!' />
            <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' />
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css' />
            <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css' />
            <script type='text/javascript' src='templates/assets/jquery_min.js'>
            </script>
            <script type='text/javascript'>
                function newMail()
                {
                    $('a[name=maillink]').html('Mailbox').removeClass('motd').addClass('unreadmotd');
                    $('.alerts').html('You have a new mail!').animate({
                        height: '1.25em'
                    }, 250);
                }
                function clearMail()
                {
                    $('a[name=maillink]').html('Mailbox').removeClass('unreadmotd').addClass('motd');
                    $('.alerts').animate({
                        height: '0em'
                    }, 250).html('');
                }
                var startX = 0,
                    maxDistance = 100,
                    touch = "ontouchend" in document,
                    startEvent = 'touchstart',
                    moveEvent = 'touchmove',
                    endEvent = 'touchend';
                $(document).on(startEvent, function(e) {
                    startX = e.originalEvent.touches ? e.originalEvent.touches[0].pageX : e.pageX;
                }).on(endEvent, function(e) {
                    startX = 0;
                }).on(moveEvent, function(e) {
                    var currentX = e.originalEvent.touches ? e.originalEvent.touches[0].pageX : e.pageX,
                        currentDistance = (startX === 0) ? 0 : Math.abs(currentX - startX);
                    if (currentDistance > maxDistance && currentX > startX){
                        $('main').hide();
                        startX = 0;
                        currentDistance = 0;
                        localStorage.setItem('hideMain', 1);
                    }
                    else if (currentDistance > maxDistance && currentX < startX) {
                        $('main').show();
                        startX = 0;
                        currentDistance = 0;
                        localStorage.setItem('hideMain', 0);
                    }
                });
                $('.alerts').on('touch click', function(){
                    $('.alerts').animate({
                        height: '0em'
                    }, 250).html('');
                });
                $(document).ready(function() {
                    if ($('[name="maillink"]').attr('class') == 'unreadmotd') {
                        newMail();
                    }
                    if ($('[name=maillink]').attr('class') == 'unreadmotd') {
                        $('[name=maillink]').click(function(){
                            clearMail();
                        });
                    }
                    $('.alerts').click(function(){
                        $('.alerts').animate({
                        height: '0em'
                    }, 500).html('');
                    });
                    if (localStorage['hideMain'] == 1) {
                        $('main').hide();
                    }
                });
            </script>
            {headscript}
            {script}
        </head>
        <body>
            <header>
                <div class='title'>
                    <span class='banner'></span>
                    {title}
                </div>
                <div class='contact'>
                    {ticket}
                    {pagegen}
                    {mail}
                    {petition}
                    {motd}
                </div>
            </header>
            <main class='content'>
                <!--!footer-->
            </main>
            <nav class='navigation'>
                {navad}
                <ul>
                    {nav}
                </ul>
            </nav>
            <div class='rightPanel'>
                {stats}
                {paypal}
            </div>
            <footer>
                <div class='alerts'>
                </div>
                <div class='copyright'>
                    {copyright}
                    {source}
                    {version}
                </div>
            </footer>
        </body>
    </html>
<!--!statstart-->
<section class='charinfo'>
<!--!stathead-->
<div class='charhead'>
    {title}
</div>
<!--!statrow-->
<div class='charrow'>
    <div class='charstat'>
        {title}
    </div>
    <div class='chardata'>
        {value}
    </div>
</div>
<!--!statbuff-->
<div class='charbuffhead'>
    {title}
</div>
<div class='charbuffstat'>
    {value}
</div>
<!--!statend-->
</section>
<!--!navhead-->
<li class='navhead'>
    {title}
</li>
<!--!navhelp-->
<li class='navhelp'>
    {text}
</li>
<!--!navitem-->
<a href='{link}' {accesskey} {popup}>
    <li class='nav'>
        {text}
    </li>
</a>
<!--!adwrapper-->
<table cellpadding=2 cellspacing=0>
    <tr>
        <td>
            {content}
        </td>
    </tr>
</table>
<!--!login-->
<!--imageforlogin-->
<input name='name' id='name' accesskey='u' size='10' placeholder='{username}'>
<input name='password' id='password' accesskey='p' type='password' size='10' placeholder='{password}'><br />
<input type='submit' value='{button}' class='button'>
<!--!loginfull-->
<table border='0' cellpadding='0' cellspacing='0' class='noborder'>
    <tr>
        <td class='noborder'>
            <!--imageforlogin-->
        </td>
    </tr>
    <tr>
        <td valign='center' align='center' class='noborder'>
            <table border='0'>
                <tr>
                    <td align='center'>
                        <font color='#ff0000'>
                            Server Full!
                        </font>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--!collapse-->
style:classic
