<!--!popuphead-->
<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html>
<head>
 <title>{title}</title>
 <link href='templates/volcano.css' rel='stylesheet' type='text/css'>
 {headscript}{script}
</head>
<body bgcolor='#370800' text="#CCCCCC">
 <table border='0' cellpadding='0' cellspacing='0' width='100%'>
  <tr>
   <td>
	<table border='0' cellpadding='0' cellspacing='0'>
	 <tr>
	  <td><img name='tlc' src='templates/volcano/tlc.gif' width='10' height='15' border='0' alt=''></td>
	  <td background='templates/volcano/tm.gif'><img name='tm' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
	  <td><img name='trc' src='templates/volcano/trc.gif' width='10' height='15' border='0' alt=''></td>
	 </tr>
	 <tr>
	  <td background='templates/volcano/tlt.gif'><img name='tlt' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
	  <td valign='top' bgcolor='#370800'><span class='pagetitle'>&#149; {title}</span></td>
	  <td background='templates/volcano/trt.gif'><img name='trt' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
	 </tr>
	 <tr>
	  <td><img name='blc' src='templates/volcano/blc.gif' width='10' height='12' border='0' alt=''></td>
	  <td background='templates/volcano/btm.gif'><img name='btm' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
	  <td><img name='brc' src='templates/volcano/brc.gif' width='10' height='12' border='0' alt=''></td>
	 </tr>
	</table>
   </td>
  </tr>
  <tr>
   <td>
	<table border='0' cellpadding='0' cellspacing='0' width='100%'>
	 <tr>
	  <td><img name='tlc' src='templates/volcano/tlc.gif' width='10' height='15' border='0' alt=''></td>
	  <td width='100%' background='templates/volcano/tm.gif'><img name='tm' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
	  <td><img name='trc' src='templates/volcano/trc.gif' width='10' height='15' border='0' alt=''></td>
	 </tr>
	 <tr>
	  <td background='templates/volcano/tlt.gif'><img name='tlt' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
	  <td valign='top' bgcolor='#370800' class='headrow'>
<!--!popupfoot-->
	  </td>
	  <td background='templates/volcano/trt.gif'><img name='trt' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
	 </tr>
	 <tr>
	  <td><img name='blc' src='templates/volcano/blc.gif' width='10' height='12' border='0' alt=''></td>
	  <td background='templates/volcano/btm.gif'><img name='btm' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
	  <td><img name='brc' src='templates/volcano/brc.gif' width='10' height='12' border='0' alt=''></td>
	 </tr>
	</table>
   </td>
  </tr>
  <tr>
   <td>
	<table border='0' cellpadding='0' cellspacing='0' width='100%'>
	 <tr>
	  <td><img name='tlc' src='templates/volcano/tlc.gif' width='10' height='15' border='0' alt=''></td>
	  <td width='100%' background='templates/volcano/tm.gif'><img name='tm' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
	  <td><img name='trc' src='templates/volcano/trc.gif' width='10' height='15' border='0' alt=''></td>
	 </tr>
	 <tr>
	  <td background='templates/volcano/tlt.gif'><img name='tlt' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
	  <td valign='top' bgcolor='#370800'>
	   <table width='100%'>
		<tr valign='top'>
		 <td>{copyright}</td>
		 <td align='right'>Design: Volcano Template &copy; 2004 JT Traub<br>based on Jade Template by Josh Canning of <a href='http://hfs.cjb.net/' target='_blank'>HFS</a></td>
		</tr>
	   </table>
	  </td>
	  <td background='templates/volcano/trt.gif'><img name='trt' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
	 </tr>
	 <tr>
	  <td><img name='blc' src='templates/volcano/blc.gif' width='10' height='12' border='0' alt=''></td>
	  <td background='templates/volcano/btm.gif'><img name='btm' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
	  <td><img name='brc' src='templates/volcano/brc.gif' width='10' height='12' border='0' alt=''></td>
	 </tr>
	</table>
   </td>
  </tr>
 </table>
</body>
</html>
<!--!header-->
<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html>
<head>
 <title>{title}</title>
 <link href='templates/volcano.css' rel='stylesheet' type='text/css'>
 {headscript}{script}
</head>
<body bgcolor='#370800' text="#CCCCCC">
<table border='0' cellpadding='0' cellspacing='0' width='100%'>
 <tr>
  <td>
   <table border='0' cellpadding='0' cellspacing='0' width='100%'>
	<tr>
	 <td nowrap valign='top'>
	  <table border='0' cellpadding='0' cellspacing='0'>
	   <tr>
		<td><img name='tlc' src='templates/volcano/tlc.gif' width='10' height='15' border='0' alt=''></td>
		<td background='templates/volcano/tm.gif'><img name='tm' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
		<td><img name='trc' src='templates/volcano/trc.gif' width='10' height='15' border='0' alt=''></td>
	   </tr>
	   <tr>
		<td background='templates/volcano/tlt.gif'><img name='tlt' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
		<td valign='top' bgcolor='#370800' nowrap><span class='pagetitle'>&#149; {title}</span></td>
		<td background='templates/volcano/trt.gif'><img name='trt' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
	   </tr>
	   <tr>
		<td><img name='blc' src='templates/volcano/blc.gif' width='10' height='12' border='0' alt=''></td>
		<td background='templates/volcano/btm.gif'><img name='btm' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
		<td><img name='brc' src='templates/volcano/brc.gif' width='10' height='12' border='0' alt=''></td>
	   </tr>
	  </table>
	 </td>
	 <td align='right' valign="top"><img src='templates/volcano/logo.jpg'></td>
	</tr>
		<td valign='top' colspan='2'>
			<div style="float: left;">{headerad}</div>
			<div align='right'>{motd} | {mail} | {petition}<br>{petitiondisplay}<br></div>
		</td>
	</tr>
   </table>
  </td>
 </tr>
 <tr>
  <td>
   <table border='0' cellpadding='4' cellspacing='0' width='100%'>
	<tr>
	 <td valign='top' width="182">
	  <table border='0' cellpadding='0' cellspacing='0'>
	   <tr>
		<td><img name='tlc' src='templates/volcano/tlc.gif' width='10' height='15' border='0' alt=''></td>
		<td width='100%' background='templates/volcano/tm.gif'><img name='tm' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
		<td><img name='trc' src='templates/volcano/trc.gif' width='10' height='15' border='0' alt=''></td>
	   </tr>
	   <tr>
		<td background='templates/volcano/tlt.gif'><img name='tlt' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
		<td valign='top' bgcolor='#370800' class='nav'><div style='position: relative; top: -15;' align='center'>{navad}</div><div align='center'> {nav} </div></td>
		<td background='templates/volcano/trt.gif'><img name='trt' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
	   </tr>
	   <tr>
		<td><img name='blc' src='templates/volcano/blc.gif' width='10' height='12' border='0' alt=''></td>
		<td background='templates/volcano/btm.gif'><img name='btm' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
		<td><img name='brc' src='templates/volcano/brc.gif' width='10' height='12' border='0' alt=''></td>
	   </tr>
	  </table>
	 </td>
	 <td valign='top' width="100%">
	  <table border='0' cellpadding='0' cellspacing='0' width='100%' height='100%'>
	   <tr>
		<td><img name='tlc' src='templates/volcano/tlc.gif' width='10' height='15' border='0' alt=''></td>
		<td width='100%' background='templates/volcano/tm.gif'><img name='tm' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
		<td><img name='trc' src='templates/volcano/trc.gif' width='10' height='15' border='0' alt=''></td>
	   </tr>
	   <tr height='100%'>
		<td background='templates/volcano/tlt.gif'><img name='tlt' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
		<td valign='top' bgcolor='#370800' class='headrow'>
		 <table width='100%' border='0' cellspacing='0' cellpadding='0'>
		  <tr>
		   <td valign=top align=left width='100%'><div style="float: right">{verticalad}</div>{bodyad}
<!--!footer-->
		   </td>
		   <td valign=top width='120'>
			<table width="120" border='0' cellpadding='0' cellspacing='0'>
			 <tr>
			  <td><img name='tlc' src='templates/volcano/tlc.gif' width='10' height='15' border='0' alt=''></td>
			  <td width='100%' background='templates/volcano/tm.gif'><img name='tm' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
			  <td><img name='trc' src='templates/volcano/trc.gif' width='10' height='15' border='0' alt=''></td>
			 </tr> 
			 <tr>
			  <td background='templates/volcano/tlt.gif'><img name='tlt' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
			  <td valign='top' bgcolor='#370800'class='nav' align='left' nowrap>{stats} <p>&nbsp;</p> {paypal}</td>
			  <td background='templates/volcano/trt.gif'><img name='trt' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
			 </tr>
			 <tr>
			  <td><img name='blc' src='templates/volcano/blc.gif' width='10' height='12' border='0' alt=''></td>
			  <td background='templates/volcano/btm.gif'><img name='btm' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
			  <td><img name='brc' src='templates/volcano/brc.gif' width='10' height='12' border='0' alt=''></td>
			 </tr>
			</table>
		   </td>
		  </tr>
		 </table>
		</td>
		<td background='templates/volcano/trt.gif'><img name='trt' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
	   </tr>
	   <tr>
		<td><img name='blc' src='templates/volcano/blc.gif' width='10' height='12' border='0' alt=''></td>
		<td background='templates/volcano/btm.gif'><img name='btm' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
		<td><img name='brc' src='templates/volcano/brc.gif' width='10' height='12' border='0' alt=''></td>
	   </tr>
	  </table>
	 </td>
	</tr>
   </table>
  </td>
 </tr>
 <tr>
  <td>
   <table border='0' cellpadding='0' cellspacing='0' width='100%'>
	<tr>
	 <td><img name='tlc' src='templates/volcano/tlc.gif' width='10' height='15' border='0' alt=''></td>
	 <td width='100%' background='templates/volcano/tm.gif'><img name='tm' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
	 <td><img name='trc' src='templates/volcano/trc.gif' width='10' height='15' border='0' alt=''></td>
	</tr>
	<tr>
	 <td background='templates/volcano/tlt.gif'><img name='tlt' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
	 <td valign='top' bgcolor='#370800'>
	  <table width='100%'>
	   <tr>
		<td valign='top'> {copyright}Design: Volcano Template &copy; 2004 JT Traub<br>based on Jade Template by Josh Canning of <a href='http://hfs.cjb.net/' target='_blank'>HFS</a></td>
		<td valign='top' align='right'>{source}<br />{version}<br />({pagegen})</td>
	   </tr>
	  </table>
	 </td>
	 <td background='templates/volcano/trt.gif'><img name='trt' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
	</tr>
	<tr>
	 <td><img name='blc' src='templates/volcano/blc.gif' width='10' height='12' border='0' alt=''></td>
	 <td background='templates/volcano/btm.gif'><img name='btm' src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
	 <td><img name='brc' src='templates/volcano/brc.gif' width='10' height='12' border='0' alt=''></td>
	</tr>
   </table>
  </td>
 </tr>
</table>
</body>
</html>
<!--!statstart-->
<table cellpadding='2' cellspacing='0' class='charinfo' width='150'>
<!--!stathead-->
<tr><td class='charhead' colspan='2'><b>{title}</b></td></tr>
<!--!statrow-->
<tr><td class='charinfo'><b>{title}</b></td><td class='charinfo'>{value}</td></tr>
<!--!statbuff-->
<tr><td class='charhead' colspan='2'><b>{title}:</b></td></tr><tr><td class='charinfo' colspan='2'>{value}</td></tr>
<!--!statend-->
</table>
<!--!navhead-->
<span class="navhead">&#151;{title}&#151;</span><br clear='all'>
<!--!navhelp-->
<span class="navhelp">{text}</span><br clear='all'>
<!--!navitem-->
<a href="{link}"{accesskey}class='nav' {popup}>{text}</a><br clear='all'>
<!--!petitioncount-->
<table border='0' cellpadding='5' cellspacing='0' align='right'><tr><td>{petitioncount}</td></tr></table>
<!--!adwrapper-->
<table border='0' cellpadding='0' cellspacing='0'>
 <tr>
  <td><img src='templates/volcano/tlc.gif' width='10' height='15' border='0' alt=''></td>
  <td background='templates/volcano/tm.gif'><img src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
  <td><img src='templates/volcano/trc.gif' width='10' height='15' border='0' alt=''></td>
 </tr>
 <tr>
  <td background='templates/volcano/tlt.gif'><img src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
  <td valign='top' bgcolor='#370800'>{content}</td>
  <td background='templates/volcano/trt.gif'><img src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
 </tr>
 <tr>
  <td><img src='templates/volcano/blc.gif' width='10' height='12' border='0' alt=''></td>
  <td background='templates/volcano/btm.gif'><img src='templates/volcano/spacer.gif' width='1' height='1' border='0' alt=''></td>
  <td><img src='templates/volcano/brc.gif' width='10' height='12' border='0' alt=''></td>
 </tr>
</table>
<!--!login-->
<table border='0' cellpadding='0' cellspacing='0'>
 <tr>
  <td><img src='images/logindragon.gif' class='noborder'></td>
 </tr>
 <tr>
  <td valign='center' align='center' class='noborder'>
   <table border='0'>
	<tr>
	 <td align='center'><font color='#ffff00'>{username}:</font></td>
	 <td align='center'><font color='#ffff00'>{password}:</font></td>
	</tr>
	<tr>
	 <td><input name='name' id='name' accesskey='u' size='10'></td>
	 <td><input name='password' id='password' accesskey='p' type='password' size='10'></td>
	</tr>
	<tr>
	 <td colspan='2' align='center'><input type='submit' value='{button}' class='button'><br></td>
	</tr>
   </table>
  </td>
 </tr>
</table>
<!--!loginfull-->
<table border='0' cellpadding='0' cellspacing='0'>
 <tr>
  <td><img src='images/logindragon.gif' class='noborder'></td>
 </tr>
 <tr>
  <td valign='center' align='center' class='noborder'>
   <table border='0'>
	<tr>
	 <td align='center'><font color='#ff0000'>Server Full!</font></td>
	</tr>
   </table>
  </td>
 </tr>
</table>
