<!--!popuphead-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>{title}</title>
<link href='templates/yar2.css' rel='stylesheet' type='text/css'>
{headscript}{script}
</head>
<body bgcolor='#000000' text='#CCCCCC'>
<table border='0' cellpadding=4 cellspacing=0 width='100%'>
  <tr>
	<td class='pageheader' valign='top'><span class='pagetitle'><br>{title}</span></td>
  </tr>
  <tr>
	<td width='100%' valign='top' bgcolor='#352D20'>
<!--!popupfoot-->
	</td>
  </tr>
  <tr>
	<td class='footer'>
	  <table border='0' cellpadding='0' cellspacing='0' width='100%' class='noborder'>
		<tr valign='top'>
		  <td class='noborder'>{copyright}</td>
		  <td align='right' class='noborder'>Design: Chris Yarbrough</td>
		</tr>
	  </table>
	</td>
  </tr>
</table>
</body>
</html>
<!--!header-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>{title}</title>
<link href='templates/yar2.css' rel='stylesheet' type='text/css'>
{headscript}{script}
</head>
<body bgcolor='#000000' text='#CCCCCC'>
<table border="0" cellpadding="4" cellspacing="0" width="100%">
  <tr>
	<td colspan="2" class='pageheader' valign='bottom'> 
	  <img src='images/title.gif' width='395' height='55' align='right'>
	  <span class='pagetitle'><br>{title}</span><br />
	  {motd} &#149; {mail} &#149; {petition} {petitiondisplay}
	</td>
  </tr>
  <tr>
	<td width="145" bgcolor='#433828' valign='top'>

	  <td width='100%' rowspan=2 valign='top' bgcolor='#352D20'>
		<table border="0" cellpadding="0" cellspacing="0" align="right">
		  <tr><td><div align='center'>{navad}</div><img src='images/uscroll.GIF' width='152' height='11' alt=''></td></tr>
		  <tr>
			<td align="center">
			  <table cellspacing='0' cellpadding='0' class='nav' width="121" border="0">
				<tr><td bgcolor="#003300" align="center">{stats}</td></tr>
			  </table>
			</td>
		  </tr>
		  <tr><td><img src='images/lscroll.GIF' width='152' height='11' alt=''></td></tr>
		<tr><td>{paypal}</td></tr>
		</table>
{headerad}{bodyad}
	  <!--!footer-->
	</td>
  </tr>
  <tr>
	<td width='145' valign='top' bgcolor='#433828' align="center">
	  <table border="0" width="142" cellpadding="0" cellspacing="0">
		<tr><td><img src='images/uscroll.GIF' width='142' height='11' alt=''></td></tr>
		<tr><td class="nav">{nav}</td></tr>
		<tr><td><img src='images/lscroll.GIF' width='142' height='11' alt=''>
		<div align='center'>{verticalad}</div></td></tr>
	  </table>
	</td>
  </tr>

  <tr>
	<td colspan=2 class='footer'>
	  <table border='0' cellpadding='0' cellspacing='0' width='100%' class='noborder'>
		<tr>
		  <td class='noborder'>{copyright}Design: Chris Yarbrough ({pagegen}) </td>
		  <td align='right' class='noborder'>{source}<br>{version}</td>
		</tr>
	  </table>
	</td>
  </tr>
</table>
</body>
</html>
<!--!statstart-->
<table cellpadding=2 cellspacing=0 class='charinfo' width='150'>
<!--!stathead-->
<tr><td class='charhead' colspan='2'><b>{title}</b></td></tr>
<!--!statrow-->
<tr><td class='charinfo'><b>{title}</b></td><td class='charinfo'>{value}</td></tr>
<!--!statbuff-->
<tr><td class='charhead' colspan='2'><b>{title}</b></td></tr><tr><td class='charinfo' colspan='2'>{value}</td></tr>
<!--!statend-->
</table>
<!--!navhead-->
<span class="navhead">&#151;{title}&#151;</span><br clear='all'>
<!--!navhelp-->
<span class="navhelp">{text}</span><br clear='all'>
<!--!navitem-->
<a href="{link}"{accesskey}class='nav' {popup}>{text}</a><br clear='all'>
<!--!petitioncount-->&#149; {petitioncount}
<!--!adwrapper-->
<table cellpadding=3 cellspacing=0>
	<tr><td>{content}</td></tr>
</table>
<!--!login-->
<table border='0' cellpadding='0' cellspacing='0'>
  <tr>
	<td><img src='images/logindragon.gif' class='noborder'></td>
  </tr>
  <tr>
	<td valign='center' align='center' class='noborder'>
	  <table border='0'>
		<tr>
		  <td align='center'><font color='#ffff00'>{username}:</font></td>
		  <td align='center'><font color='#ffff00'>{password}:</font></td>
		</tr>
		<tr>
		  <td><input name='name' id="name" accesskey='u' size='10'></td>
		  <td><input name='password' id="password" accesskey='p' type='password' size='10'></td>
		</tr>
		<tr>
		  <td colspan='2' align='center'><input type='submit' value='{button}' class='button'><br></td>
		</tr>
	  </table>
	</td>
  </tr>
</table>
<!--!loginfull-->
<table border='0' cellpadding='0' cellspacing='0'>
  <tr>
	<td><img src='images/logindragon.gif' class='noborder'></td>
  </tr>
  <tr>
	<td valign='center' align='center' class='noborder'>
	  <table border='0'>
		<tr>
		  <td align='center'><font color='#ff0000'>Server Full!</font></td>
		</tr>
	  </table>
	</td>
  </tr>
</table>
